* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(to left, yellow, orange);
    margin: 0px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    padding: 10px;
    background-color: rgba(241, 0, 209, 0.37);
}
h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
}
input[type="submit"] {
    border: none;
    border-radius: 50px;
    height: 30px;
    width: 30px;
    padding: 5px;
}
input[type="submit"]:hover {
    background-color:rgba(0, 60, 255, 0.712);
}
.nav {
    display: flex;
    flex-direction: row;
    height: 10%;
    justify-content: space-between;
}
.settings {
    display: flex;
    gap: 50px;
    align-items: center;
}
.temp-setting {
    background-color: orangered;
    border: 2px solid rgba(255, 196, 0, 0.822);
    border-radius: 50px;
    height: 35px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
label {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 15px;
    padding-bottom: 20px;
}
input[type=radio]{
    position:relative;
    margin:5px;
}
input[type=radio]:before{
    position:absolute;
    height:30px;
    width:30px;
    top:-5px;
    left:-5px;
    content:'';
    background:white;
    border-radius:100%;
}
input[type=radio]:after{
    position:absolute;
    display:none;
    height:15px;
    width:15px;
    top:3px;
    left:3px;
    content:'';
    background:grey;
    border-radius:100%;
}
input[type=radio]:checked:after{
    display:block;
}
.astronomy {
    font-size: larger;
}
.forecast-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 15px;
    gap: 16px;
}
.temp-card-title {
    font-size: large;
    height: 50px;
    background-color: white;
}
.temp-card {
    background-color: rgb(220, 235, 248);
    padding: 5px;
    margin: 5px;
    margin-bottom: 20px;
    border: 1px solid rgba(55, 43, 124, 0.178);
    border-radius: 15px;
    max-height: 300px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.temp-card:hover {
    background-color: rgb(88, 90, 150);
}