* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(to left, yellow, orange);
    margin: 0px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    width: 90vw;
    height: 15vh;
    padding-left: 5%;
    padding-right: 5%;
    background-color: rgba(241, 0, 209, 0.37);
}
h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
}
input[type="submit"] {
    border: none;
    border-radius: 50px;
    height: 30px;
    width: 30px;
    padding: 5px;
}
input[type="submit"]:hover {
    background-color:rgba(0, 60, 255, 0.712);
}
.nav {
    display: flex;
    flex-direction: row;
    height: 10%;
    justify-content: space-between;
}
.settings {
    display: flex;
    gap: 50px;
    align-items: center;
}
label {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 15px;
    padding-bottom: 20px;
}
input[type=radio]{
    position:relative;
    margin:5px;
}
input[type=radio]:before{
    position:absolute;
    height:30px;
    width:30px;
    top:-5px;
    left:-5px;
    content:'';
    background:white;
    border-radius:100%;
}
input[type=radio]:after{
    position:absolute;
    display:none;
    height:15px;
    width:15px;
    top:3px;
    left:3px;
    content:'';
    background:grey;
    border-radius:100%;
}
input[type=radio]:checked:after{
    display:block;
}
.astronomy {
    font-size: larger;
}
.forecast-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 15px;
    gap: 16px;
}
.temp-card-title {
    font-size: large;
    height: 50px;
    background-color: white;
}
.temp-card {
    background-color: rgb(220, 235, 248);
    padding: 5px;
    margin: 5px;
    margin-bottom: 20px;
    border: 1px solid rgba(55, 43, 124, 0.178);
    box-shadow: 5px 5px 15px 10px pink;
    border-radius: 15px;
    max-height: 300px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.temp-card:hover {
    background-color: rgb(88, 90, 150);
}

/* toggle button style */
.toggle-button-cover {
    display: table-cell;
    position: relative;
    width: 200px;
    height: 140px;
    box-sizing: border-box;
  }
  
  .button-cover {
    height: 100px;
    margin: 20px;
    /* background-color: #fff;
    box-shadow: 0 10px 20px -8px #c5d6d6;
    border-radius: 4px; */
  }
  
  .button-cover:before {
    counter-increment: button-counter;
    /* content: counter(button-counter); */
    position: absolute;
    right: 0;
    bottom: 0;
    color: #d7e3e3;
    font-size: 12px;
    line-height: 1;
    padding: 5px;
  }
  
  .button-cover,
  .knobs,
  .layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .button {
    position: relative;
    top: 50%;
    width: 74px;
    height: 36px;
    margin: -20px auto 0 auto;
    overflow: hidden;
  }
  
  .button.r,
  .button.r .layer {
    border-radius: 100px;
  }
  
  .button.b2 {
    border-radius: 2px;
  }
  
  .checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
  }
  
  .knobs {
    z-index: 2;
  }
  
  .layer {
    width: 100%;
    background-color: #ebf7fc;
    transition: 0.3s ease all;
    z-index: 1;
  }
  
  /* Button 1 */
  #button-1 .knobs:before {
    content: "F";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 20px;
    height: 10px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    background-color: #03a9f4;
    border-radius: 50%;
    transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
  }
  
  #button-1 .checkbox:checked + .knobs:before {
    content: "C";
    left: 42px;
    background-color: #f44336;
  }
  
  #button-1 .checkbox:checked ~ .layer {
    background-color: #fcebeb;
  }
  
  #button-1 .knobs,
  #button-1 .knobs:before,
  #button-1 .layer {
    transition: 0.3s ease all;
  }